/* custom properties */

:root {
    --nav-bg-position: 0; /* this is updated by JS */
}

/* mixins */

@mixin dark-background {
    background-color: $primary;
    color: #fff;
    a {
        color: $primary-light;
        &:hover {
            color: #fff;
            background-color: transparent;
        }
    }
}

@mixin minor-heading {
    @include dark-background;
    padding: 0.625rem;
    margin-bottom: 0.9rem;

    @media screen and (min-width: 75em) {
        padding-left: 6.25rem;
        background-image: url('/superman-right.png');
        background-repeat: no-repeat;
        background-position: 0.625rem center;
        background-size: 2.5em;
    }
}

@mixin paper {
    @media screen and (min-width: 38.75rem) {
        background-color: #fff;
        box-shadow: $shadow-paper unquote($primary + "32");
    }
}

/* universal */

* {
    transition: all .15s ease-in-out;
}

body {
    font-family: $body-text;
    font-size: 1.1em;
    @media screen and (min-width: 38.75rem) {
        background-color: $bg-color;
    }
    @media screen and (min-width: 48rem) {
        background-image: url("/aos-logo-color-50.svg");
        background-repeat: no-repeat;
        background-position: bottom 1rem right -2rem;
        background-attachment: fixed;
        background-size: 40%;
    }
}

a {
    &:hover {
        background-color: $primary-lighter;
    }
}

/* navbar */

.navbar {
    font-family: $gravity-bold;
    text-transform: uppercase;
    background-image: url('/styles/images/collage-banner.png');
    background-blend-mode: luminosity;
    box-shadow: $shadow-small $primary;
    margin-bottom: 1.25rem;
    background-position-x: var(--nav-bg-position);
    overflow: hidden;
    transition: none;
    border-bottom: .4rem $secondary solid;
    a:hover {
        background-color: transparent;
    }
}

.navbar-toggler {
    background-color: #000;
}

.navbar-brand img {
    filter: drop-shadow($shadow-standard #000) drop-shadow($shadow-small #000);
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    background-color: $transparent-dark;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    background-color: #fff;
    color: $primary;
}

/* content */

@media (min-width: 87.5em) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 82.5rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $titlewave;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

#primary {
    padding: 0 var(--bs-gutter-x) .5rem;
    @include paper;
    @media screen and (min-width: 38.75rem) {
        padding-top: 1rem;
    }
}

.post {
    border-bottom: 0.3rem $secondary solid;
    margin-bottom: 2em; 
}

.post:last-of-type {
    border-bottom: none;
}

.wp-post-image {
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.single .entry-header {
    border-bottom: 0.125rem $secondary dashed;
    margin-bottom: 1em;
}

.entry-meta {
    margin-bottom: 1em;
    font-size: .9em;
    color: $secondary;
}

.entry-content p, .entry-content li {
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}

.entry-content li {
    max-width: 34rem;
}

.entry-content li:not(:last-of-type) {
    margin-bottom: 1em;
}

.entry-footer {
    margin-bottom: 2em;
    font-size: .9em;
    display: flex;
    justify-content: space-between;
    color: $secondary;
}

.single .entry-footer {
    border-top: 0.125rem $secondary dashed;
    padding-top: 1em;
}

.nav-previous a::before {
    content: '◀';
    color: $secondary;
    display: inline-block;
    margin-right: .25em;
    text-decoration: none;
}

.nav-next a::after {
    content: '▶';
    color: $secondary;
    display: inline-block;
    margin-left: .25em;
    text-decoration: none;
}

/* pagination */

.pagination {
    display: flex;
    justify-content: center;
}

a.page-link:hover {
    background-color: $primary-lighter;
}

/* sidebar */

#right-sidebar {
    margin-top: 3.75rem;
    @media screen and (min-width: 48rem) {
        margin-top: 0;
    }
    @media screen and (min-width: 75rem) {
        padding-left: 2rem;
    }
}

aside {
    margin-bottom: 3.75rem;
    @include paper;
    @media screen and (min-width: 38.75rem) {
        background-color: rgba(255, 255, 255, .85);
    }
    h2, h3, h4, h5, h6 {
        @include minor-heading;
        margin: 0;
        & + * {
            padding: 1rem;
        }
    }
}

aside li {
    list-style-type: none;
    background-image: url('/styles/images/aos-logo-bullet.png');
    background-repeat: no-repeat; 
    background-position: left center;
    padding-left: 2.5rem;
    min-height: 1.25rem;
    margin-bottom: .625rem;
}

aside aside {
    background-color: transparent;
}

.widget_search {
    background-color: transparent;
    box-shadow: none;
}

.textwidget > :last-child {
    padding: 0;
    margin: 0;
}

.textwidget li:last-child {
    margin: 0;
}

ul.wp-block-latest-posts.wp-block-latest-posts__list {
    padding: 1rem;
}

.tag-cloud-link {
    display: inline-block;
    margin-right: 0.625rem;
}

/* forms and buttons */

input, button, .btn {
    font-family: $gravity-bold;
}

.btn-secondary {
    &:hover, &:active, &:focus {
        background-color: $secondary-darker;
    }
}

.understrap-read-more-link {
    background-image: url('/styles/images/aos-logo-bullet.png');
    background-repeat: no-repeat; 
    background-position: right 0.625rem center;
    padding-right: 2.5rem;
    background-blend-mode: screen;
    background-size: 1.6rem;
    transition: all .15s ease-in-out;
    &:hover, &:active, &:focus {
        background-size: 1.8rem;
    }
}

label:not(.form-check-label) {
    @include dark-background;
    background-color: $secondary;
    padding: .25em 1em;
    border-radius: .8em .8em 0 0;
    position: relative;
    &::after {
        content: '';
        background-color: $secondary;
        height: 1em;
        width: 1em;
        display: block;
        position: absolute;
        left: 0;
        z-index: -1;
    }
}

.wp-block-search__label {
    width: max-content;
}

form[role=search] {
    button, input[type=submit] {
        background-image: url('/styles/images/eye-icon.svg');
        background-repeat: no-repeat; 
        background-position: right 0.4rem top 55%;
        padding-right: 2.5rem;
        background-size: 1.85rem;
    }
}

/* comments */

.comment-reply-title {
    @include minor-heading;
}

.comments-area {
    margin-top: 2em;
}

.comment-form input[type=submit] {
    background-image: url('/styles/images/speech-bubble.svg');
    background-repeat: no-repeat; 
    background-position: right 0.4rem top 55%;
    padding-right: 2.5rem;
    background-size: 1.75rem;
}

/* footer */

#wrapper-footer {
    @include dark-background;
}

/* font-face */

@font-face {
    font-family: GravityBold;
    src: url("/styles/fonts/Gravity-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: TitleWave;
    src: url("/styles/fonts/titlewv.ttf");
}

/* tierlists */

.tierlist-heading {
    font-family: $gravity-bold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 0.2rem 0.4rem;
    border-width: 0 0 0.9rem;
    border-style: solid;
    margin-bottom: 1rem;
}

.tierlist-heading::first-letter {
    font-size: 4rem;
}

.s-tier {
    border-color: #ea1c18;
}

.a-tier {
    border-color: #e97119;
}

.b-tier {
    border-color: #ede702;
}

.c-tier {
    border-color: #1cc500;
}

.d-tier {
    border-color: #0100c6;
}
