@use 'sass:color';

/* colors */

$primary: #004d99;
$primary-light: color.scale($primary, $lightness: 70%);
$secondary: #007aa3;

$transparent-dark: rgba(0, 0, 0, .5);

/* shadows */

$shadow-standard: 0 0 10px;
$shadow-small: 0 0 5px;

/* fonts */

$gravity-bold: GravityBold, 'Segoe UI', Helvetica, sans-serif;
$titlewave: TitleWave, 'Book Antiqua', serif;
$body-text: Georgia, serif;